<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AccessTrackingDB" connectionString="Data Source=avazwvzjob.database.windows.net;Initial Catalog=AssetTrackingDB;User ID=edolikian;Password=********;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="" sku=""/>
  </startup>
</configuration>